.orders {
  min-height: calc(100vh - 12rem);

  &__header {
    flex-wrap: wrap;
    margin: 2rem 0;
    gap: 1rem;
  }

  &__search {
    flex-direction: row;
    margin: 0;
    margin-left: auto;
    padding: 0.5rem 0;

    input {
      margin: 0;
      min-width: 20rem;
    }
  }

  &__filters {
    flex: 0 0 20%;
    gap: 2rem;

    &-option {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      input {
        display: none;
      }

      span {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid var(--black);
      }

      .active {
        background-color: var(--primary);
      }
    }

    button {
      width: fit-content;
    }
  }

  &__management {
    gap: 1rem;
  }

  &__list {
    flex-wrap: wrap;
    flex: 0 0 80%;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  &__card {
    width: 17rem;
    max-width: 90%;
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid var(--black);

    figure {
      margin: 1rem 1rem 0.5rem auto;
      width: 30%;
      cursor: pointer;
    }
  }

  &__card-notfound {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--black);
  }
}

@media (max-width: 768px) {
 .orders {
    &__filters {
      flex-wrap: wrap;
      flex-direction: row;
      gap: 1rem;

      &-option {
        align-items: center;
        flex-direction: column;
      }
    }

    &__management {
      flex-direction: column;
    }
 }
}
