.edit {
  min-height: calc(100vh - 12rem);

  &__header {
    margin: 2rem 0;
    gap: 1rem;
  }

  &__back-button {
    gap: 1rem;
  }

  &__status {
    flex-direction: row;
    margin: 0;

    select {
      margin: 0;
    }
  }

  &__order-info {
    flex: 0 0 40%;
    gap: 1rem;
    padding: 0 4rem;

  }

  &__order-notes {
    flex: 0 0 60%;
    gap: 1rem;
    padding: 0 1rem;
  }

  &__notes-list {
    gap: 0.5rem;
  }

  &__notes-add {
    gap: 0.5rem;

    button {
      gap: 1rem;
      font-size: 1.3rem;
      font-weight: bold;
      cursor: pointer;

      figure {
        width: 2rem;
      }
    }
  }
}
