<section class="home flex flex-justify-center">
  <div class="wrapper flex flex-column">
    <h1 class="home__title">Panel de control</h1>
    <div class="home__options flex flex-justify-between">
      <button class="btn btn-xxl btn-primary">
        <figure>
          <img src="assets/images/icons/management-order.svg" alt="Crear orden de Trabajo">
        </figure>
        Crear orden de Trabajo
      </button>
      <button class="btn btn-xxl btn-primary">
        <figure>
          <img src="assets/images/icons/create-order.svg" alt="Gestionar órdenes">
        </figure>
        Gestionar órdenes
      </button>
    </div>
  </div>
</section>
